.spacingDiv {
  padding: 0px 7vw 0px 0px;
}
.spaceDiv {
  padding: 0px 7vw 0px 7vw;
}
.aboutDiv li {
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 15px;
  list-style: none;
  display: flex;
  align-items: baseline;
}
.aboutDiv li i {
  color: #f84da5;
}
.aboutDiv h2 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #222222;
}
.aboutDiv ul {
  margin-top: 22px;
  padding-left: 0px;
}
.whyDiv {
  text-align: center;
  padding: 25px;
  box-shadow: 0px 0px 4px 1px #d9d9d9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whyDiv img {
  width: 50%;
}
.whyDiv h4 {
  font-family: var(--heading-font--);
  /* text-transform: uppercase; */
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}
.whyDiv p {
  font-size: 14px;
}
.whyDiv:hover {
  background: #f84da5;
  box-shadow: 0px 0px 13px 1px #aa4079;
}
.whyDiv:hover img {
  filter: drop-shadow(0px 0px 2px white);
}
.whyDiv:hover h4 {
  color: white;
}
.whyDiv:hover p {
  color: white;
}

.processDiv img {
  width: 60%;
  border-radius: 50%;
  border: 9px solid white;
  box-shadow: 0px 0px 16px 1px #aa407987;
}
.processDiv label {
  position: absolute;
  right: -33px;
  background: white;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  box-shadow: 0px 0px 13px 1px #f84ca5;
  font-size: 32px;
  font-weight: 900;
  padding: 15px 10px;
  line-height: 29px;
  text-align: center;
  top: 0px;
  background: #f84ca5;
  color: white;
  border: 3px solid white;
  transition: all 0.3s;
}
.processDiv:hover label {
  box-shadow: 0px 0px 13px 1px #6e4aa6;
  background: #6e4aa6;
  transform: scale(1.1);
}
.processDiv:hover .processSubDiv {
  border-right: 2px dashed #6e4aa6;
}
.processSubDiv {
  border-right: 2px dashed #f84ca5;
  padding-right: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.processSubDiv ul {
  list-style: none;
}
.processSubDiv2 ul {
  list-style: none;
}
.processDiv ul li i {
  color: #f52590;
  font-size: 14px;
}
.processImg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.processSubDiv2 {
  padding-left: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.processDiv div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.processDiv h3 {
  font-family: var(--heading-font--);
  /* text-transform: uppercase; */
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
}
.withDiv li {
  padding-top: 15px;
  padding-bottom: 10px;
}
.withDiv {
  background-image: url(../images/services/websitedesign/bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-top: 100px;
  color: white;
  padding-bottom: 100px;
}
.withDiv h2 {
  font-size: 32px;
  font-family: "Open Sans", cursive;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-weight: 700;
}
.withDiv a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background: #f52590;
  border-radius: 10px;
  border: 3px solid #f3b1d2;
}
.sectionWhy h3 {
  font-family: var(--heading-font--);
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.8;
}
.span1 {
  top: 0;
  position: absolute;
  height: 100%;
  width: 30%;
  left: 40px;
  background-image: linear-gradient(107deg, #fff 40%, transparent 40.5%);
}
.span2 {
  top: 0;
  position: absolute;
  height: 100%;
  width: 30%;
  right: 40px;
  background-image: linear-gradient(-107deg, #fff 40%, transparent 40.5%);
}
.imgIcon {
  position: absolute;
  width: 90px;
  height: 90px;
  top: calc(50% - 70px);

  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 0px 15px rgba(241, 241, 241, 0.3);
  background-color: #fff;
  z-index: 2;
  transition: 0.35s;
  padding: 10px;
}
.imgIcon1 {
  left: 10%;
}
.imgIcon2 {
  left: auto;
  right: 10%;
}
.sectionWhy div:nth-child(1) {
  padding-right: 50px;
}
.sectionWhy div:nth-child(2) {
  padding-left: 50px;
}
.sectionWhy:hover .imgIcon {
  box-shadow: 0px 0px 0px 15px #f84ba46e;
  transform: scale(1.1);
}

.imgSec {
  display: flex;
  align-items: center;
}
.accordion-button:focus {
  border-color: #ffebf5;
  box-shadow: 0px 0px 0px 3px #fcb4d9;
}
.accordion-button:not(.collapsed) {
  background-color: #ffebf5;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ffebf5;
}
.accordion-item {
  border-color: #ffebf5;
}
.sloganInDiv {
  padding: 50px 0px;
  background: #6e4aa6;
}
.sloganInDiv p {
  padding: 0px 10vw;
  font-size: 22px;
}
.sloganInDiv a,
.uiuxDiv a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background: #6e4aa6;
  border-radius: 10px;
  border: 3px solid #fedeee;
}
.contentProcess {
  display: flex;
  flex-direction: column;
}
.uiuxDiv h2 {
  font-size: 32px;
  font-family: "Open Sans", cursive;
  color: #222;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.uiuxDiv h2::after {
  background-color: #e74699;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin-top: 10px;
  width: 50px;
  margin-left: 0px;
}
.contact-btn button {
  text-decoration: none;
  background-color: #9629db;
  color: white;
  border-radius: 10px;
  padding: 10px 25px;
  margin-top: 1.5rem;
  border: none;
  transition: all 0.2s ease-in-out;
}
.contact-btn button:hover {
  background-color: #e74699;
}
/* Mobile app  */
.whyChooseLeft img {
  width: 100%;
}
.digitalDiv i {
  color: #f52590;
  font-size: 12px;
}
.digital-solution ul li {
  text-align: start;
}
.digital-solution:hover ul li {
  color: white;
}
.stepsNum {
  display: none;
}

/*  */
.main-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub-block h4 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.sub-block p {
  text-align: center;
  font-size: 14px;
}
.sub-block {
  flex: 1;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  overflow: hidden;
  padding: 30px 15px 0px;
}
.sub-block h3 {
  position: relative;
  text-align: center;
  z-index: 100;
  color: white;
}
.block-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.block-top img {
  width: 120px;
}
.block-bottom {
  position: relative;
  z-index: 0;
}
.block-bottom::after {
  content: "";
  width: 130px;
  height: 130px;
  background-color: #f241a3;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* Support Maintenance */
.support-list {
  list-style: none !important;
}

.support-list li {
  list-style: none;
  margin-bottom: 0px;
}
.support-list li p {
  margin-bottom: 0px !important;
}
.contractDiv-left img {
  width: 100%;
  border-radius: 6px;
}
.issuesLeft i {
  font-size: 64px;
  color: white;
}
.support-cta {
  width: 100%;
  padding: 15px;
  border: 1px solid #e74699;
  background-color: #ffebf5;
  border-radius: 8px;
}
.zShape {
  margin-top: 8px;
}
.zShape p {
  margin-bottom: 0px;
  font-size: 15px;
}
@media (max-width: 1100px) {
  .processDiv img {
    width: 80%;
  }
  .imgIcon {
    top: calc(50% - 50px);
  }
}
@media (max-width: 1000px) {
  .processDiv img {
    width: 80%;
  }
  .span1 {
    width: 36%;
  }
  .span2 {
    width: 36%;
  }
  .uiuxDiv p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .uiuxDiv .row div:nth-child(1) {
    padding-right: 10px !important;
  }
  .uiuxDiv .row div:nth-child(2) {
    padding-left: 10px !important;
  }
  .spacingDiv {
    padding: 0px 7vw 0px 7vw;
  }
  .spaceDiv {
    padding: 0px;
  }
  .main-block {
    flex-direction: column;
  }
  .sub-block {
    min-height: 350px;
  }
}
@media (max-width: 900px) {
  .processDiv img {
    width: 90%;
  }
  .sectionWhy div:nth-child(1) {
    padding-right: 25px;
  }
  .sectionWhy div:nth-child(2) {
    padding-left: 25px;
  }
  .span1 {
    width: 36%;
    left: 23px;
  }
  .span2 {
    width: 36%;
    right: 23px;
  }
  .imgIcon {
    top: calc(50% - 35px);
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 800px) {
  .processSubDiv {
    padding-right: 45px;
  }
  .processSubDiv2 {
    padding-left: 45px;
  }
  .processDiv p {
    font-size: 14px;
  }
  .sectionWhy div:nth-child(1) {
    padding-right: 10px;
  }
  .sectionWhy div:nth-child(2) {
    padding-left: 10px;
  }
  .span1 {
    width: 36%;
    left: 10px;
  }
  .span2 {
    width: 36%;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .imgIcon {
    top: -40px;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
  }
  .span1,
  .span2 {
    display: none;
  }
  .imgSec {
    margin-top: 45px;
  }
  .sectionWhy p {
    font-size: 14px;
  }
  .aboutDiv li {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
  }
  .aboutDiv h2 {
    font-size: 25px;
  }
  .sloganInDiv p {
    padding: 0px 5vw;
  }
}
@media (max-width: 575px) {
  .processSubDiv {
    padding: 15px 0px;
    border-right: 0px;
  }
  .processSubDiv2 {
    padding: 15px 0px;
  }
  .processDiv label {
    display: none;
  }
  .processDiv img {
    width: 50%;
  }
  .aboutDiv h2 {
    text-align: center;
    margin-top: 20px;
  }
  .sloganInDiv p {
    padding: 0px 1vw;
    font-size: 15px;
  }
  .stepsNum {
    display: inline-block;
  }
  .sub-block {
    min-height: 420px;
  }
}
