.techCard {
  width: 100%;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
}
.techBlock h5 img {
  margin-right: 10px;
}
.toolsDiv {
  width: 100%;
  padding: 30px;

  background: #fff;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);

  border-radius: 8px;
}
